html{
  scroll-snap-type: y mandatory;
}

.App{
  background-color: #000;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app-videos{
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  overflow: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}

/* Esconde a scrollbar no chrome, safari e opera */
.app-videos::-webkit-scrollbar{
  display: none;
}

/* Esconde a scrollbar no internet explorer, edge e explorer */
.app-videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (max-width: 440px){
  .app-videos{
    width: 100%;
    height: 100vh;
  }
}